<a href="https://colab.research.google.com/github/Sabirbinsakander/-data-science/blob/main/Data_cleaning_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
url = 'https://raw.githubusercontent.com/Rubaiya-Razin/Data-Science-Course/refs/heads/main/customer_data.csv'
df = pd.read_csv(url)

In [5]:
df

,CustomerID,Name,Age,Email,Phone,Working Status,PurchaseDate,FoodItem,Price
0,C_ID001,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.0,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,NaN,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.0,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.0,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK
5,C_ID006,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,NaN
6,NaN,Sarah King,28.0,sarah.king@gmail.com,555-2222,No,5/21/2024,NaN,NaN
7,C_ID008,Jane Smith,30.0,janesmith@gmail.com,555-5678,No,5/21/2024,burger,350TK
8,C_ID009,Michael Brown,38.0,michael@gmail.com,555-3333,No,5/21/2024,ice cream,NaN
9,C_ID010,Julie wilson,50.0,julie.wilson@gmail.com,555-4444,Yes,NaN,pizza,699TK
10,C_ID011,Laura Wilson,42.0,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,coffee,25TK
11,C_ID012,Robert Brown,NaN,robert.brown@gmail.com,555-6666,Yes,5/21/2024,pizza,699TK
12,C_ID013,NaN,35.0,NaN,555-7777,Yes,5/21/2024,coffee,25TK
13,C_ID014,Anna Scott,29.0,anna.scott@gmail.com,555-8888,No,5/21/2024,ice cream,130TK
14,C_ID015,James White,26.0,james.white@gmail.com,555-9900,Yes,5/21/2024,burger,350TK
15,C_ID016,Linda Green,NaN,linda.green@gmail.com,555-9999,No,5/21/2024,123,350TK
16,C_ID017,Karen Black,47.0,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.0,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

In [6]:
df.head()

,CustomerID,Name,Age,Email,Phone,Working Status,PurchaseDate,FoodItem,Price
0,C_ID001,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.0,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,NaN,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.0,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.0,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK

In [7]:
df.tail()

,CustomerID,Name,Age,Email,Phone,Working Status,PurchaseDate,FoodItem,Price
15,C_ID016,Linda Green,NaN,linda.green@gmail.com,555-9999,No,5/21/2024,123,350TK
16,C_ID017,Karen Black,47.0,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.0,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

### **Renameing**

In [8]:
df.rename(columns={'CustomerID': 'Customer ID', 'PurchaseDate':'Purchase Date', 'FoodItem':'Food Item'}, inplace=True)

In [9]:
df.head()

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.0,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,NaN,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.0,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.0,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK

## **Shape**

In [10]:
df.shape

(20, 9)

### **NaN**

In [11]:
df.isnull().values.any()

np.True_

In [12]:
df.isnull().values.sum()

np.int64(13)

In [13]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

Customer ID       1
Name              1
Age               3
Email             2
Working Status    1
Purchase Date     1
Food Item         1
Price             3
dtype: int64

In [14]:
print(df[df.isnull().any(axis=1)][null_columns].head().to_string(index = True, header = True))

  Customer ID           Name   Age                   Email Working Status Purchase Date  Food Item  Price
2     C_ID003    Bob Johnson   NaN   bob.johnson@gmail.com            Yes     5/21/2024     burger  350TK
5     C_ID006       John Doe  25.0       johndoe@gmail.com            Yes     5/21/2024     coffee    NaN
6         NaN     Sarah King  28.0    sarah.king@gmail.com             No     5/21/2024        NaN    NaN
8     C_ID009  Michael Brown  38.0       michael@gmail.com             No     5/21/2024  ice cream    NaN
9     C_ID010   Julie wilson  50.0  julie.wilson@gmail.com            Yes           NaN      pizza  699TK

## **Handaling NAN Value**

In [15]:
df['Purchase Date'].fillna('5/21/2024 ', inplace=True)

/tmp/ipython-input-1788146966.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Purchase Date'].fillna('5/21/2024 ', inplace=True)

In [16]:
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.0,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,NaN,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.0,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.0,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK
5,C_ID006,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,NaN
6,NaN,Sarah King,28.0,sarah.king@gmail.com,555-2222,No,5/21/2024,NaN,NaN
7,C_ID008,Jane Smith,30.0,janesmith@gmail.com,555-5678,No,5/21/2024,burger,350TK
8,C_ID009,Michael Brown,38.0,michael@gmail.com,555-3333,No,5/21/2024,ice cream,NaN
9,C_ID010,Julie wilson,50.0,julie.wilson@gmail.com,555-4444,Yes,5/21/2024,pizza,699TK
10,C_ID011,Laura Wilson,42.0,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,coffee,25TK
11,C_ID012,Robert Brown,NaN,robert.brown@gmail.com,555-6666,Yes,5/21/2024,pizza,699TK
12,C_ID013,NaN,35.0,NaN,555-7777,Yes,5/21/2024,coffee,25TK
13,C_ID014,Anna Scott,29.0,anna.scott@gmail.com,555-8888,No,5/21/2024,ice cream,130TK
14,C_ID015,James White,26.0,james.white@gmail.com,555-9900,Yes,5/21/2024,burger,350TK
15,C_ID016,Linda Green,NaN,linda.green@gmail.com,555-9999,No,5/21/2024,123,350TK
16,C_ID017,Karen Black,47.0,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.0,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

# **Change Data Row wise**

In [17]:
df.loc[6, 'Customer ID'] = 'C_ID007'

In [18]:
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.0,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,NaN,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.0,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.0,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK
5,C_ID006,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,NaN
6,C_ID007,Sarah King,28.0,sarah.king@gmail.com,555-2222,No,5/21/2024,NaN,NaN
7,C_ID008,Jane Smith,30.0,janesmith@gmail.com,555-5678,No,5/21/2024,burger,350TK
8,C_ID009,Michael Brown,38.0,michael@gmail.com,555-3333,No,5/21/2024,ice cream,NaN
9,C_ID010,Julie wilson,50.0,julie.wilson@gmail.com,555-4444,Yes,5/21/2024,pizza,699TK
10,C_ID011,Laura Wilson,42.0,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,coffee,25TK
11,C_ID012,Robert Brown,NaN,robert.brown@gmail.com,555-6666,Yes,5/21/2024,pizza,699TK
12,C_ID013,NaN,35.0,NaN,555-7777,Yes,5/21/2024,coffee,25TK
13,C_ID014,Anna Scott,29.0,anna.scott@gmail.com,555-8888,No,5/21/2024,ice cream,130TK
14,C_ID015,James White,26.0,james.white@gmail.com,555-9900,Yes,5/21/2024,burger,350TK
15,C_ID016,Linda Green,NaN,linda.green@gmail.com,555-9999,No,5/21/2024,123,350TK
16,C_ID017,Karen Black,47.0,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.0,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

In [19]:
df.loc[5, 'Price'] = '25TK'

In [20]:
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.0,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,NaN,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.0,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.0,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK
5,C_ID006,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
6,C_ID007,Sarah King,28.0,sarah.king@gmail.com,555-2222,No,5/21/2024,NaN,NaN
7,C_ID008,Jane Smith,30.0,janesmith@gmail.com,555-5678,No,5/21/2024,burger,350TK
8,C_ID009,Michael Brown,38.0,michael@gmail.com,555-3333,No,5/21/2024,ice cream,NaN
9,C_ID010,Julie wilson,50.0,julie.wilson@gmail.com,555-4444,Yes,5/21/2024,pizza,699TK
10,C_ID011,Laura Wilson,42.0,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,coffee,25TK
11,C_ID012,Robert Brown,NaN,robert.brown@gmail.com,555-6666,Yes,5/21/2024,pizza,699TK
12,C_ID013,NaN,35.0,NaN,555-7777,Yes,5/21/2024,coffee,25TK
13,C_ID014,Anna Scott,29.0,anna.scott@gmail.com,555-8888,No,5/21/2024,ice cream,130TK
14,C_ID015,James White,26.0,james.white@gmail.com,555-9900,Yes,5/21/2024,burger,350TK
15,C_ID016,Linda Green,NaN,linda.green@gmail.com,555-9999,No,5/21/2024,123,350TK
16,C_ID017,Karen Black,47.0,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.0,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

## **Unwanted Value Handaling**

In [21]:
cnt = 0
for row in df['Food Item']:
    try:
        int(row)
        df.loc[cnt, 'Food Item'] = np.nan
    except ValueError:
      pass
    cnt += 1

df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.0,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,NaN,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.0,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.0,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK
5,C_ID006,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
6,C_ID007,Sarah King,28.0,sarah.king@gmail.com,555-2222,No,5/21/2024,NaN,NaN
7,C_ID008,Jane Smith,30.0,janesmith@gmail.com,555-5678,No,5/21/2024,burger,350TK
8,C_ID009,Michael Brown,38.0,michael@gmail.com,555-3333,No,5/21/2024,ice cream,NaN
9,C_ID010,Julie wilson,50.0,julie.wilson@gmail.com,555-4444,Yes,5/21/2024,pizza,699TK
10,C_ID011,Laura Wilson,42.0,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,coffee,25TK
11,C_ID012,Robert Brown,NaN,robert.brown@gmail.com,555-6666,Yes,5/21/2024,pizza,699TK
12,C_ID013,NaN,35.0,NaN,555-7777,Yes,5/21/2024,coffee,25TK
13,C_ID014,Anna Scott,29.0,anna.scott@gmail.com,555-8888,No,5/21/2024,ice cream,130TK
14,C_ID015,James White,26.0,james.white@gmail.com,555-9900,Yes,5/21/2024,burger,350TK
15,C_ID016,Linda Green,NaN,linda.green@gmail.com,555-9999,No,5/21/2024,NaN,350TK
16,C_ID017,Karen Black,47.0,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.0,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

In [22]:
df.loc[15, 'Food Item'] = 'Burger'
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.0,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,NaN,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.0,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.0,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK
5,C_ID006,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
6,C_ID007,Sarah King,28.0,sarah.king@gmail.com,555-2222,No,5/21/2024,NaN,NaN
7,C_ID008,Jane Smith,30.0,janesmith@gmail.com,555-5678,No,5/21/2024,burger,350TK
8,C_ID009,Michael Brown,38.0,michael@gmail.com,555-3333,No,5/21/2024,ice cream,NaN
9,C_ID010,Julie wilson,50.0,julie.wilson@gmail.com,555-4444,Yes,5/21/2024,pizza,699TK
10,C_ID011,Laura Wilson,42.0,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,coffee,25TK
11,C_ID012,Robert Brown,NaN,robert.brown@gmail.com,555-6666,Yes,5/21/2024,pizza,699TK
12,C_ID013,NaN,35.0,NaN,555-7777,Yes,5/21/2024,coffee,25TK
13,C_ID014,Anna Scott,29.0,anna.scott@gmail.com,555-8888,No,5/21/2024,ice cream,130TK
14,C_ID015,James White,26.0,james.white@gmail.com,555-9900,Yes,5/21/2024,burger,350TK
15,C_ID016,Linda Green,NaN,linda.green@gmail.com,555-9999,No,5/21/2024,Burger,350TK
16,C_ID017,Karen Black,47.0,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.0,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

## **Fill mode value to NaN value**

In [23]:
df ['Food Item'].fillna(df['Food Item'].mode()[0], inplace=True)

/tmp/ipython-input-1324524802.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df ['Food Item'].fillna(df['Food Item'].mode()[0], inplace=True)

In [24]:
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.0,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,NaN,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.0,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.0,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK
5,C_ID006,John Doe,25.0,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
6,C_ID007,Sarah King,28.0,sarah.king@gmail.com,555-2222,No,5/21/2024,coffee,NaN
7,C_ID008,Jane Smith,30.0,janesmith@gmail.com,555-5678,No,5/21/2024,burger,350TK
8,C_ID009,Michael Brown,38.0,michael@gmail.com,555-3333,No,5/21/2024,ice cream,NaN
9,C_ID010,Julie wilson,50.0,julie.wilson@gmail.com,555-4444,Yes,5/21/2024,pizza,699TK
10,C_ID011,Laura Wilson,42.0,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,coffee,25TK
11,C_ID012,Robert Brown,NaN,robert.brown@gmail.com,555-6666,Yes,5/21/2024,pizza,699TK
12,C_ID013,NaN,35.0,NaN,555-7777,Yes,5/21/2024,coffee,25TK
13,C_ID014,Anna Scott,29.0,anna.scott@gmail.com,555-8888,No,5/21/2024,ice cream,130TK
14,C_ID015,James White,26.0,james.white@gmail.com,555-9900,Yes,5/21/2024,burger,350TK
15,C_ID016,Linda Green,NaN,linda.green@gmail.com,555-9999,No,5/21/2024,Burger,350TK
16,C_ID017,Karen Black,47.0,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.0,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.0,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

In [25]:
df ['Age'] = df ['Age'].fillna(df['Age'].mean())

In [26]:
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25.000000,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.000000,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,35.705882,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.000000,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.000000,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK
5,C_ID006,John Doe,25.000000,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
6,C_ID007,Sarah King,28.000000,sarah.king@gmail.com,555-2222,No,5/21/2024,coffee,NaN
7,C_ID008,Jane Smith,30.000000,janesmith@gmail.com,555-5678,No,5/21/2024,burger,350TK
8,C_ID009,Michael Brown,38.000000,michael@gmail.com,555-3333,No,5/21/2024,ice cream,NaN
9,C_ID010,Julie wilson,50.000000,julie.wilson@gmail.com,555-4444,Yes,5/21/2024,pizza,699TK
10,C_ID011,Laura Wilson,42.000000,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,coffee,25TK
11,C_ID012,Robert Brown,35.705882,robert.brown@gmail.com,555-6666,Yes,5/21/2024,pizza,699TK
12,C_ID013,NaN,35.000000,NaN,555-7777,Yes,5/21/2024,coffee,25TK
13,C_ID014,Anna Scott,29.000000,anna.scott@gmail.com,555-8888,No,5/21/2024,ice cream,130TK
14,C_ID015,James White,26.000000,james.white@gmail.com,555-9900,Yes,5/21/2024,burger,350TK
15,C_ID016,Linda Green,35.705882,linda.green@gmail.com,555-9999,No,5/21/2024,Burger,350TK
16,C_ID017,Karen Black,47.000000,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.000000,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.000000,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.000000,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

### **Median value**

In [29]:
df ['Age'] = df ['Age'].fillna(df.groupby('Food Item')['Age'].transform('median'))

In [30]:
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25.000000,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.000000,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,35.705882,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.000000,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.000000,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK
5,C_ID006,John Doe,25.000000,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
6,C_ID007,Sarah King,28.000000,sarah.king@gmail.com,555-2222,No,5/21/2024,coffee,NaN
7,C_ID008,Jane Smith,30.000000,janesmith@gmail.com,555-5678,No,5/21/2024,burger,350TK
8,C_ID009,Michael Brown,38.000000,michael@gmail.com,555-3333,No,5/21/2024,ice cream,NaN
9,C_ID010,Julie wilson,50.000000,julie.wilson@gmail.com,555-4444,Yes,5/21/2024,pizza,699TK
10,C_ID011,Laura Wilson,42.000000,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,coffee,25TK
11,C_ID012,Robert Brown,35.705882,robert.brown@gmail.com,555-6666,Yes,5/21/2024,pizza,699TK
12,C_ID013,NaN,35.000000,NaN,555-7777,Yes,5/21/2024,coffee,25TK
13,C_ID014,Anna Scott,29.000000,anna.scott@gmail.com,555-8888,No,5/21/2024,ice cream,130TK
14,C_ID015,James White,26.000000,james.white@gmail.com,555-9900,Yes,5/21/2024,burger,350TK
15,C_ID016,Linda Green,35.705882,linda.green@gmail.com,555-9999,No,5/21/2024,Burger,350TK
16,C_ID017,Karen Black,47.000000,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.000000,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.000000,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.000000,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

## **Bfill & ffill**

In [46]:
df['Price']=df['Price'].fillna(method='bfill')

/tmp/ipython-input-2456444059.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Price']=df['Price'].fillna(method='bfill')

In [32]:
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25.000000,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
1,C_ID002,Jane Smith,30.000000,janesmith@gmail.com,555-5678,Yes,5/21/2024,pizza,699TK
2,C_ID003,Bob Johnson,35.705882,bob.johnson@gmail.com,555-8765,Yes,5/21/2024,burger,350TK
3,C_ID004,Emily Davis,45.000000,emily.davis@example,555-4321,No,5/21/2024,coffee,25TK
4,C_ID005,Chris Lee,33.000000,chrislee@gmail.com,555-1111,Yes,5/21/2024,ice cream,130TK
5,C_ID006,John Doe,25.000000,johndoe@gmail.com,555-1234,Yes,5/21/2024,coffee,25TK
6,C_ID007,Sarah King,28.000000,sarah.king@gmail.com,555-2222,No,5/21/2024,coffee,350TK
7,C_ID008,Jane Smith,30.000000,janesmith@gmail.com,555-5678,No,5/21/2024,burger,350TK
8,C_ID009,Michael Brown,38.000000,michael@gmail.com,555-3333,No,5/21/2024,ice cream,699TK
9,C_ID010,Julie wilson,50.000000,julie.wilson@gmail.com,555-4444,Yes,5/21/2024,pizza,699TK
10,C_ID011,Laura Wilson,42.000000,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,coffee,25TK
11,C_ID012,Robert Brown,35.705882,robert.brown@gmail.com,555-6666,Yes,5/21/2024,pizza,699TK
12,C_ID013,NaN,35.000000,NaN,555-7777,Yes,5/21/2024,coffee,25TK
13,C_ID014,Anna Scott,29.000000,anna.scott@gmail.com,555-8888,No,5/21/2024,ice cream,130TK
14,C_ID015,James White,26.000000,james.white@gmail.com,555-9900,Yes,5/21/2024,burger,350TK
15,C_ID016,Linda Green,35.705882,linda.green@gmail.com,555-9999,No,5/21/2024,Burger,350TK
16,C_ID017,Karen Black,47.000000,karen.black@gmail.com,555-0000,No,5/21/2024,pizza,699TK
17,C_ID018,Tom Harris,50.000000,NaN,555-1010,Yes,5/21/2024,burger,350TK
18,C_ID019,Nancy Moore,37.000000,nancy.moore@gmail.com,555-2020,No,5/21/2024,ice cream,130TK
19,C_ID020,Nancy Moore,37.000000,nancy.moore@gmail.com,555-2020,Yes,5/21/2024,ice cream,130TK

In [47]:
df ['Working Status'] = df ['Working Status'].fillna(method='ffill')

/tmp/ipython-input-2495880711.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df ['Working Status'] = df ['Working Status'].fillna(method='ffill')

In [48]:
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25,johndoe@gmail.com,555-1234,NaN,5/21/2024,2,25TK
1,C_ID002,Jane Smith,30,janesmith@gmail.com,555-5678,NaN,5/21/2024,4,699TK
2,C_ID003,Bob Johnson,35,bob.johnson@gmail.com,555-8765,NaN,5/21/2024,1,350TK
3,C_ID004,Emily Davis,45,emily.davis@example,555-4321,NaN,5/21/2024,2,25TK
4,C_ID005,Chris Lee,33,chrislee@gmail.com,555-1111,NaN,5/21/2024,3,130TK
5,C_ID006,John Doe,25,johndoe@gmail.com,555-1234,NaN,5/21/2024,2,25TK
6,C_ID007,Sarah King,28,sarah.king@gmail.com,555-2222,NaN,5/21/2024,2,350TK
7,C_ID008,Jane Smith,30,janesmith@gmail.com,555-5678,NaN,5/21/2024,1,350TK
8,C_ID009,Michael Brown,38,michael@gmail.com,555-3333,NaN,5/21/2024,3,699TK
9,C_ID010,Julie wilson,50,julie.wilson@gmail.com,555-4444,NaN,5/21/2024,4,699TK
10,C_ID011,Laura Wilson,42,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,2,25TK
11,C_ID012,Robert Brown,35,robert.brown@gmail.com,555-6666,NaN,5/21/2024,4,699TK
12,C_ID013,NaN,35,NaN,555-7777,NaN,5/21/2024,2,25TK
13,C_ID014,Anna Scott,29,anna.scott@gmail.com,555-8888,NaN,5/21/2024,3,130TK
14,C_ID015,James White,26,james.white@gmail.com,555-9900,NaN,5/21/2024,1,350TK
15,C_ID016,Linda Green,35,linda.green@gmail.com,555-9999,NaN,5/21/2024,0,350TK
16,C_ID017,Karen Black,47,karen.black@gmail.com,555-0000,NaN,5/21/2024,4,699TK
17,C_ID018,Tom Harris,50,NaN,555-1010,NaN,5/21/2024,1,350TK
18,C_ID019,Nancy Moore,37,nancy.moore@gmail.com,555-2020,NaN,5/21/2024,3,130TK
19,C_ID020,Nancy Moore,37,nancy.moore@gmail.com,555-2020,NaN,5/21/2024,3,130TK

### Type Converstion

In [49]:
df .Age=df.Age.astype('int64')

In [50]:
df.head()

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25,johndoe@gmail.com,555-1234,NaN,5/21/2024,2,25TK
1,C_ID002,Jane Smith,30,janesmith@gmail.com,555-5678,NaN,5/21/2024,4,699TK
2,C_ID003,Bob Johnson,35,bob.johnson@gmail.com,555-8765,NaN,5/21/2024,1,350TK
3,C_ID004,Emily Davis,45,emily.davis@example,555-4321,NaN,5/21/2024,2,25TK
4,C_ID005,Chris Lee,33,chrislee@gmail.com,555-1111,NaN,5/21/2024,3,130TK

### **Level Endcoding**

In [51]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Food Item'] = le.fit_transform(df['Food Item'])
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25,johndoe@gmail.com,555-1234,NaN,5/21/2024,2,25TK
1,C_ID002,Jane Smith,30,janesmith@gmail.com,555-5678,NaN,5/21/2024,4,699TK
2,C_ID003,Bob Johnson,35,bob.johnson@gmail.com,555-8765,NaN,5/21/2024,1,350TK
3,C_ID004,Emily Davis,45,emily.davis@example,555-4321,NaN,5/21/2024,2,25TK
4,C_ID005,Chris Lee,33,chrislee@gmail.com,555-1111,NaN,5/21/2024,3,130TK
5,C_ID006,John Doe,25,johndoe@gmail.com,555-1234,NaN,5/21/2024,2,25TK
6,C_ID007,Sarah King,28,sarah.king@gmail.com,555-2222,NaN,5/21/2024,2,350TK
7,C_ID008,Jane Smith,30,janesmith@gmail.com,555-5678,NaN,5/21/2024,1,350TK
8,C_ID009,Michael Brown,38,michael@gmail.com,555-3333,NaN,5/21/2024,3,699TK
9,C_ID010,Julie wilson,50,julie.wilson@gmail.com,555-4444,NaN,5/21/2024,4,699TK
10,C_ID011,Laura Wilson,42,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,2,25TK
11,C_ID012,Robert Brown,35,robert.brown@gmail.com,555-6666,NaN,5/21/2024,4,699TK
12,C_ID013,NaN,35,NaN,555-7777,NaN,5/21/2024,2,25TK
13,C_ID014,Anna Scott,29,anna.scott@gmail.com,555-8888,NaN,5/21/2024,3,130TK
14,C_ID015,James White,26,james.white@gmail.com,555-9900,NaN,5/21/2024,1,350TK
15,C_ID016,Linda Green,35,linda.green@gmail.com,555-9999,NaN,5/21/2024,0,350TK
16,C_ID017,Karen Black,47,karen.black@gmail.com,555-0000,NaN,5/21/2024,4,699TK
17,C_ID018,Tom Harris,50,NaN,555-1010,NaN,5/21/2024,1,350TK
18,C_ID019,Nancy Moore,37,nancy.moore@gmail.com,555-2020,NaN,5/21/2024,3,130TK
19,C_ID020,Nancy Moore,37,nancy.moore@gmail.com,555-2020,NaN,5/21/2024,3,130TK

### **Mapping Function**

In [53]:
mapping = {'Yes':1, 'No':0}
df['Working Status'] = df['Working Status'].map(mapping)
df

,Customer ID,Name,Age,Email,Phone,Working Status,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25,johndoe@gmail.com,555-1234,NaN,5/21/2024,2,25TK
1,C_ID002,Jane Smith,30,janesmith@gmail.com,555-5678,NaN,5/21/2024,4,699TK
2,C_ID003,Bob Johnson,35,bob.johnson@gmail.com,555-8765,NaN,5/21/2024,1,350TK
3,C_ID004,Emily Davis,45,emily.davis@example,555-4321,NaN,5/21/2024,2,25TK
4,C_ID005,Chris Lee,33,chrislee@gmail.com,555-1111,NaN,5/21/2024,3,130TK
5,C_ID006,John Doe,25,johndoe@gmail.com,555-1234,NaN,5/21/2024,2,25TK
6,C_ID007,Sarah King,28,sarah.king@gmail.com,555-2222,NaN,5/21/2024,2,350TK
7,C_ID008,Jane Smith,30,janesmith@gmail.com,555-5678,NaN,5/21/2024,1,350TK
8,C_ID009,Michael Brown,38,michael@gmail.com,555-3333,NaN,5/21/2024,3,699TK
9,C_ID010,Julie wilson,50,julie.wilson@gmail.com,555-4444,NaN,5/21/2024,4,699TK
10,C_ID011,Laura Wilson,42,laura.wilson@gmail.com,555-5555,NaN,5/21/2024,2,25TK
11,C_ID012,Robert Brown,35,robert.brown@gmail.com,555-6666,NaN,5/21/2024,4,699TK
12,C_ID013,NaN,35,NaN,555-7777,NaN,5/21/2024,2,25TK
13,C_ID014,Anna Scott,29,anna.scott@gmail.com,555-8888,NaN,5/21/2024,3,130TK
14,C_ID015,James White,26,james.white@gmail.com,555-9900,NaN,5/21/2024,1,350TK
15,C_ID016,Linda Green,35,linda.green@gmail.com,555-9999,NaN,5/21/2024,0,350TK
16,C_ID017,Karen Black,47,karen.black@gmail.com,555-0000,NaN,5/21/2024,4,699TK
17,C_ID018,Tom Harris,50,NaN,555-1010,NaN,5/21/2024,1,350TK
18,C_ID019,Nancy Moore,37,nancy.moore@gmail.com,555-2020,NaN,5/21/2024,3,130TK
19,C_ID020,Nancy Moore,37,nancy.moore@gmail.com,555-2020,NaN,5/21/2024,3,130TK

### **One Hot Endcoder**

In [54]:
df1 = pd.get_dummies(df, columns=['Working Status'])
df1

,Customer ID,Name,Age,Email,Phone,Purchase Date,Food Item,Price
0,C_ID001,John Doe,25,johndoe@gmail.com,555-1234,5/21/2024,2,25TK
1,C_ID002,Jane Smith,30,janesmith@gmail.com,555-5678,5/21/2024,4,699TK
2,C_ID003,Bob Johnson,35,bob.johnson@gmail.com,555-8765,5/21/2024,1,350TK
3,C_ID004,Emily Davis,45,emily.davis@example,555-4321,5/21/2024,2,25TK
4,C_ID005,Chris Lee,33,chrislee@gmail.com,555-1111,5/21/2024,3,130TK
5,C_ID006,John Doe,25,johndoe@gmail.com,555-1234,5/21/2024,2,25TK
6,C_ID007,Sarah King,28,sarah.king@gmail.com,555-2222,5/21/2024,2,350TK
7,C_ID008,Jane Smith,30,janesmith@gmail.com,555-5678,5/21/2024,1,350TK
8,C_ID009,Michael Brown,38,michael@gmail.com,555-3333,5/21/2024,3,699TK
9,C_ID010,Julie wilson,50,julie.wilson@gmail.com,555-4444,5/21/2024,4,699TK
10,C_ID011,Laura Wilson,42,laura.wilson@gmail.com,555-5555,5/21/2024,2,25TK
11,C_ID012,Robert Brown,35,robert.brown@gmail.com,555-6666,5/21/2024,4,699TK
12,C_ID013,NaN,35,NaN,555-7777,5/21/2024,2,25TK
13,C_ID014,Anna Scott,29,anna.scott@gmail.com,555-8888,5/21/2024,3,130TK
14,C_ID015,James White,26,james.white@gmail.com,555-9900,5/21/2024,1,350TK
15,C_ID016,Linda Green,35,linda.green@gmail.com,555-9999,5/21/2024,0,350TK
16,C_ID017,Karen Black,47,karen.black@gmail.com,555-0000,5/21/2024,4,699TK
17,C_ID018,Tom Harris,50,NaN,555-1010,5/21/2024,1,350TK
18,C_ID019,Nancy Moore,37,nancy.moore@gmail.com,555-2020,5/21/2024,3,130TK
19,C_ID020,Nancy Moore,37,nancy.moore@gmail.com,555-2020,5/21/2024,3,130TK

### **Scaling **

### **Nomalization**

In [45]:
from sklearn.preprocessing import MinMaxScaler
# Identify Numeric and Non-Numeric Column
numeric_columns = df.select_dtypes(include=['number']).columns
non_numeric_columns = df.select_dtypes(exclude=['number']).columns
#Initialize the scaler
scaler = MinMaxScaler()
#Fit and Transfrom only The numeric Column
scaled_numeric = scaler.fit_transform(df[numeric_columns])
scaled_numeric_df = pd.DataFrame(scaled_numeric, columns=numeric_columns)
#Combine Scaled Numeric Columns with non-numeric columns
scaled_df = pd.concat([df[non_numeric_columns].reset_index(drop=True), scaled_numeric_df.reset_index(drop=True)], axis = 1)
scaled_df

/usr/local/lib/python3.12/dist-packages/sklearn/utils/_array_api.py:776: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmin(X, axis=axis))
/usr/local/lib/python3.12/dist-packages/sklearn/utils/_array_api.py:793: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmax(X, axis=axis))

,Customer ID,Name,Email,Phone,Purchase Date,Price,Age,Working Status,Food Item
0,C_ID001,John Doe,johndoe@gmail.com,555-1234,5/21/2024,25TK,0.00,NaN,0.50
1,C_ID002,Jane Smith,janesmith@gmail.com,555-5678,5/21/2024,699TK,0.20,NaN,1.00
2,C_ID003,Bob Johnson,bob.johnson@gmail.com,555-8765,5/21/2024,350TK,0.40,NaN,0.25
3,C_ID004,Emily Davis,emily.davis@example,555-4321,5/21/2024,25TK,0.80,NaN,0.50
4,C_ID005,Chris Lee,chrislee@gmail.com,555-1111,5/21/2024,130TK,0.32,NaN,0.75
5,C_ID006,John Doe,johndoe@gmail.com,555-1234,5/21/2024,25TK,0.00,NaN,0.50
6,C_ID007,Sarah King,sarah.king@gmail.com,555-2222,5/21/2024,350TK,0.12,NaN,0.50
7,C_ID008,Jane Smith,janesmith@gmail.com,555-5678,5/21/2024,350TK,0.20,NaN,0.25
8,C_ID009,Michael Brown,michael@gmail.com,555-3333,5/21/2024,699TK,0.52,NaN,0.75
9,C_ID010,Julie wilson,julie.wilson@gmail.com,555-4444,5/21/2024,699TK,1.00,NaN,1.00
10,C_ID011,Laura Wilson,laura.wilson@gmail.com,555-5555,5/21/2024,25TK,0.68,NaN,0.50
11,C_ID012,Robert Brown,robert.brown@gmail.com,555-6666,5/21/2024,699TK,0.40,NaN,1.00
12,C_ID013,NaN,NaN,555-7777,5/21/2024,25TK,0.40,NaN,0.50
13,C_ID014,Anna Scott,anna.scott@gmail.com,555-8888,5/21/2024,130TK,0.16,NaN,0.75
14,C_ID015,James White,james.white@gmail.com,555-9900,5/21/2024,350TK,0.04,NaN,0.25
15,C_ID016,Linda Green,linda.green@gmail.com,555-9999,5/21/2024,350TK,0.40,NaN,0.00
16,C_ID017,Karen Black,karen.black@gmail.com,555-0000,5/21/2024,699TK,0.88,NaN,1.00
17,C_ID018,Tom Harris,NaN,555-1010,5/21/2024,350TK,1.00,NaN,0.25
18,C_ID019,Nancy Moore,nancy.moore@gmail.com,555-2020,5/21/2024,130TK,0.48,NaN,0.75
19,C_ID020,Nancy Moore,nancy.moore@gmail.com,555-2020,5/21/2024,130TK,0.48,NaN,0.75

### **Standardization**

In [58]:
from sklearn.preprocessing import StandardScaler

In [61]:
#Indentify numeric and non-numeric columns
numeric_columns = df.select_dtypes(include=[np.number]).columns
non_numeric_columns = df.select_dtypes(exclude=[np.number]).columns

#Initialize the scaler
ss = StandardScaler()

#Fit and transform only the numeric columns
scaled_numeric = ss.fit_transform(df[numeric_columns])
#convert the scaled numeric data back to DataFrame
scaled_numeric_df = pd.DataFrame(scaled_numeric, columns=numeric_columns)

#Concatenate the scaled numeric columns with the non numeric colums
scaled_df = pd.concat([df[non_numeric_columns].reset_index(drop=True), scaled_numeric_df.reset_index(drop=True)], axis=1)
print(scaled_df)

   Customer ID           Name                   Email     Phone Purchase Date  \
0      C_ID001       John Doe       johndoe@gmail.com  555-1234     5/21/2024
1      C_ID002     Jane Smith     janesmith@gmail.com  555-5678     5/21/2024
2      C_ID003    Bob Johnson   bob.johnson@gmail.com  555-8765     5/21/2024
3      C_ID004    Emily Davis     emily.davis@example  555-4321     5/21/2024
4      C_ID005      Chris Lee      chrislee@gmail.com  555-1111     5/21/2024
5      C_ID006       John Doe       johndoe@gmail.com  555-1234     5/21/2024
6      C_ID007     Sarah King    sarah.king@gmail.com  555-2222     5/21/2024
7      C_ID008     Jane Smith     janesmith@gmail.com  555-5678     5/21/2024
8      C_ID009  Michael Brown       michael@gmail.com  555-3333     5/21/2024
9      C_ID010   Julie wilson  julie.wilson@gmail.com  555-4444    5/21/2024
10     C_ID011   Laura Wilson  laura.wilson@gmail.com  555-5555     5/21/2024
11     C_ID012   Robert Brown  robert.brown@gmail.com  555-6666     5/21/2024
12     C_ID013            NaN                     NaN  555-7777     5/21/2024
13     C_ID014     Anna Scott    anna.scott@gmail.com  555-8888     5/21/2024
14     C_ID015    James White   james.white@gmail.com  555-9900     5/21/2024
15     C_ID016    Linda Green   linda.green@gmail.com  555-9999     5/21/2024
16     C_ID017    Karen Black   karen.black@gmail.com  555-0000     5/21/2024
17     C_ID018     Tom Harris                     NaN  555-1010     5/21/2024
18     C_ID019    Nancy Moore   nancy.moore@gmail.com  555-2020     5/21/2024
19     C_ID020    Nancy Moore   nancy.moore@gmail.com  555-2020     5/21/2024

    Price       Age  Working Status  Food Item
0    25TK -1.384232             NaN  -0.303774
1   699TK -0.731292             NaN   1.432078
2   350TK -0.078353             NaN  -1.171700
3    25TK  1.227526             NaN  -0.303774
4   130TK -0.339529             NaN   0.564152
5    25TK -1.384232             NaN  -0.303774
6   350TK -0.992468             NaN  -0.303774
7   350TK -0.731292             NaN  -1.171700
8   699TK  0.313411             NaN   0.564152
9   699TK  1.880466             NaN   1.432078
10   25TK  0.835763             NaN  -0.303774
11  699TK -0.078353             NaN   1.432078
12   25TK -0.078353             NaN  -0.303774
13  130TK -0.861880             NaN   0.564152
14  350TK -1.253644             NaN  -1.171700
15  350TK -0.078353             NaN  -2.039626
16  699TK  1.488702             NaN   1.432078
17  350TK  1.880466             NaN  -1.171700
18  130TK  0.182823             NaN   0.564152
19  130TK  0.182823             NaN   0.564152

/usr/local/lib/python3.12/dist-packages/sklearn/utils/extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/usr/local/lib/python3.12/dist-packages/sklearn/utils/extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
/usr/local/lib/python3.12/dist-packages/sklearn/utils/extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

### **Robust Scaler**

In [62]:
from sklearn.preprocessing import RobustScaler
#Indentify numeric and non-numeric columns
numeric_columns = df.select_dtypes(include=[np.number]).columns
non_numeric_columns = df.select_dtypes(exclude=[np.number]).columns
#Initialize this scaler
robust_scaler = RobustScaler()
#Fit and transform only the numeric columns
scaled_numeric = robust_scaler.fit_transform(df[numeric_columns])
#Convert the scaled numeric data back to dataframe
scaled_numeric_df = pd.DataFrame(scaled_numeric, columns=numeric_columns)
#Concatenate the scaled numeric columns with the non numeric columns
scaled_df = pd.concat([df[non_numeric_columns].reset_index(drop=True), scaled_numeric_df.reset_index(drop=True)], axis=1)
#Display the scaled Dataframe
scaled_df.head()

/usr/local/lib/python3.12/dist-packages/sklearn/preprocessing/_data.py:1642: RuntimeWarning: All-NaN slice encountered
  self.center_ = np.nanmedian(X, axis=0)
/usr/local/lib/python3.12/dist-packages/numpy/lib/_nanfunctions_impl.py:1424: RuntimeWarning: All-NaN slice encountered
  return _nanquantile_unchecked(

,Customer ID,Name,Email,Phone,Purchase Date,Price,Age,Working Status,Food Item
0,C_ID001,John Doe,johndoe@gmail.com,555-1234,5/21/2024,25TK,-1.081081,NaN,0.0
1,C_ID002,Jane Smith,janesmith@gmail.com,555-5678,5/21/2024,699TK,-0.540541,NaN,1.6
2,C_ID003,Bob Johnson,bob.johnson@gmail.com,555-8765,5/21/2024,350TK,0.000000,NaN,-0.8
3,C_ID004,Emily Davis,emily.davis@example,555-4321,5/21/2024,25TK,1.081081,NaN,0.0
4,C_ID005,Chris Lee,chrislee@gmail.com,555-1111,5/21/2024,130TK,-0.216216,NaN,0.8

### Transpose **Function**

In [63]:
transposed_df = df.transpose()
transposed_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Customer ID,C_ID001,C_ID002,C_ID003,C_ID004,C_ID005,C_ID006,C_ID007,C_ID008,C_ID009,C_ID010,C_ID011,C_ID012,C_ID013,C_ID014,C_ID015,C_ID016,C_ID017,C_ID018,C_ID019,C_ID020
Name,John Doe,Jane Smith,Bob Johnson,Emily Davis,Chris Lee,John Doe,Sarah King,Jane Smith,Michael Brown,Julie wilson,Laura Wilson,Robert Brown,NaN,Anna Scott,James White,Linda Green,Karen Black,Tom Harris,Nancy Moore,Nancy Moore
Age,25,30,35,45,33,25,28,30,38,50,42,35,35,29,26,35,47,50,37,37
Email,johndoe@gmail.com,janesmith@gmail.com,bob.johnson@gmail.com,emily.davis@example,chrislee@gmail.com,johndoe@gmail.com,sarah.king@gmail.com,janesmith@gmail.com,michael@gmail.com,julie.wilson@gmail.com,laura.wilson@gmail.com,robert.brown@gmail.com,NaN,anna.scott@gmail.com,james.white@gmail.com,linda.green@gmail.com,karen.black@gmail.com,NaN,nancy.moore@gmail.com,nancy.moore@gmail.com
Phone,555-1234,555-5678,555-8765,555-4321,555-1111,555-1234,555-2222,555-5678,555-3333,555-4444,555-5555,555-6666,555-7777,555-8888,555-9900,555-9999,555-0000,555-1010,555-2020,555-2020
Working Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purchase Date,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024,5/21/2024
Food Item,2,4,1,2,3,2,2,1,3,4,2,4,2,3,1,0,4,1,3,3
Price,25TK,699TK,350TK,25TK,130TK,25TK,350TK,350TK,699TK,699TK,25TK,699TK,25TK,130TK,350TK,350TK,699TK,350TK,130TK,130TK

## **Exploratory Data Analysis Project**